force-app/main/default/flows/User_Registration_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Milwaukee_User</name>
        <label>Create Milwaukee User</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <actionName>Register_CreateUser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Thank_you_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>Emailmilw.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>password</name>
            <value>
                <elementReference>Passwordmilw</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Ryobi_User</name>
        <label>Create Ryobi User</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <actionName>Register_CreateUser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Thank_you_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>city</name>
            <value>
                <elementReference>RyobiCity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>consent</name>
            <value>
                <elementReference>I_agree_to_the_Privacy_Policy</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>RyobiCountry</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>EmailRyo.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>firstName</name>
            <value>
                <elementReference>First_nameryo</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>Last_nameryo</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postcode</name>
            <value>
                <elementReference>RyobiPostcode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>state</name>
            <value>
                <elementReference>RyobiState</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>street</name>
            <value>
                <elementReference>RyobiStreet</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Which_Site</name>
        <label>Which Site</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>milwaukee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>expid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>milwaukee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Milwaukee_Register</targetReference>
            </connector>
            <label>Milwaukee</label>
        </rules>
        <rules>
            <name>Ryobi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>expid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ryobi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RyobiRegister</targetReference>
            </connector>
            <label>Ryobi</label>
        </rules>
    </decisions>
    <interviewLabel>User Registration Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Registration Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Milwaukee_Register</name>
        <label>Milwaukee Register</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Milwaukee_User</targetReference>
        </connector>
        <fields>
            <name>Milwaukeeheader</name>
            <fieldText>&lt;p&gt;Sign Up&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Emailmilw</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Passwordmilw</name>
            <fieldText>Password</fieldText>
            <fieldType>PasswordField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RyobiRegister</name>
        <label>RyobiRegister</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RyobiRegisterAddress</targetReference>
        </connector>
        <fields>
            <name>First_nameryo</name>
            <dataType>String</dataType>
            <fieldText>First name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_nameryo</name>
            <dataType>String</dataType>
            <fieldText>Last name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EmailRyo</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RyobiRegisterAddress</name>
        <label>Ryobi Address</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Ryobi_User</targetReference>
        </connector>
        <fields>
            <name>RyobiAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>RyobiCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputCountryOptions</name>
                <value>
                    <elementReference>CountryOptions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>RyobiCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>RyobiPostcode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputProvinceOptions</name>
                <value>
                    <elementReference>StateOptions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>RyobiState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>RyobiStreet</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>RyobiCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CountryOptions</assignToReference>
                <name>inputCountryOptions</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>RyobiCountry</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AddressLabel</assignToReference>
                <name>addressLabel</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>RyobiPostcode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>StateOptions</assignToReference>
                <name>inputProvinceOptions</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>RyobiState</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>RyobiStreet</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <fields>
            <name>I_agree_to_the_Privacy_Policy</name>
            <dataType>Boolean</dataType>
            <fieldText>I agree to the Privacy Policy</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_you_Screen</name>
        <label>Thank you Screen</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ThankyouText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;You are now registered!&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_Site</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AddressLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CountryOptions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>expid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RyobiCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RyobiCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RyobiPostcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RyobiState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RyobiStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StateOptions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
